.homepage{
    width: 100%;
    padding: 6% 8%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 90px;

}

.team-card{
    width: calc(25% - 20px);
    height: 25vh;
    padding: 16px;
   
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 6px #999;
    margin: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
    


.card-img{
    height: 80%;
    vertical-align: middle;

}
