body, button, form, input, option, select, textarea {
    font-family: "Poppins",sans-serif;
}
.CreateTeamPage_CreationForm__RQTRw {
    width: 400px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 5px #ccc;
    padding: 24px 16px;
    margin: 100px auto 0;
}
.CreateTeamPage_Heading__QC1tN {
    margin: 0 0 24px;
}
.CreateTeamPage_Label__2iJCK {
    font-size: 12px;
    margin: 16px 0 4px;
}
.CreateTeamPage_InputField__2KT8x {
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
}
.CreateTeamPage_Label__2iJCK {
    font-size: 12px;
    margin: 16px 0 4px;
}
.CreateTeamPage_InputField__2KT8x {
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
}
.CreateTeamPage_Label__2iJCK {
    font-size: 12px;
    margin: 16px 0 4px;
}

.CreateTeamPage_Label__2iJCK {
    font-size: 12px;
    margin: 16px 0 4px;
}
.CreateTeamPage_InputField__2KT8x {
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
}
.CreateTeamPage_Label__2iJCK {
    font-size: 12px;
    margin: 16px 0 4px;
}
.CreateTeamPage_InputField__2KT8x {
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
}
.CreateTeamPage_Label__2iJCK {
    font-size: 12px;
    margin: 16px 0 4px;
}
.CreateTeamPage_InputField__2KT8x {
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
}
.CreateTeamPage_Label__2iJCK {
    font-size: 12px;
    margin: 16px 0 4px;
}
.CreateTeamPage_InputField__2KT8x {
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
}
.CreateTeamPage_ButtonWrapper__1Bz0Z {
    margin-top: 36px;
}
.Button_Button__1hxBU {
    color: #fff;
    background-color: #19398a;
    font-size: 14px;
    padding: 8px 36px;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
}